*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('img/img2.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
}
.container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    background-color: white;
    border-radius: 3rem 5rem;
}
img{
    width: 100px;
}
img:hover{
    width: 150px;
}

.par4{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2%;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}
